html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: rgba(0,0,0,0.87);
}

.app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.side-panel {
  overflow-y: auto;
  flex: 0 0 200px;
  box-shadow: inset -10px 0px 6px -10px #9f9f9f;
}

.side--nav-list__items{
  width: 200px;
}

.main-panel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px;
  word-break: break-all;
  width: 100%;
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  min-height: 70px;
}

.file-path, .choose-file{
  margin: 5px;
  min-width: 160px;
  color: rgba(0,0,0,0.87) !important;
}

.meta-data {
  margin: 5px;
  min-width: 200px;
  width: 50%;
}

th {
  border: none;
  text-align: left;
  min-width: 100px;
  cursor: pointer;
}

#error-message-container #error-message {
  margin: 10px;
  font-family: monospace;
}

#error-message-container #error-message table td {
  word-break: break-all;
}
