body {
  font-family: monospace;
  font-size: 10px;
  color: #E9EFEC;
  background: #282A36;
}

#error-message-container #error-message table {
  border-collapse:collapse;
}

#error-message-container #error-message table td {
  word-break: break-all;
  /*padding: 0.5%;*/
}

#error-message-container #error-message .error-class {
  width: 20%;
}

#error-message-container #error-message .error-beginline {
  width: 5%;
}

#error-message-container #error-message .error-desc {
  width: 75%;
}
